# Activar RewriteEngine
RewriteEngine on

# Esta condicion es verdaderra cuando la ruta al REQUEST_FILENAME 
#no hace referencia a una carpeta que existe en el servidor

RewriteCond %(REQUEST_FILENAME) !-d

# Esta condicion es verdaderra cuando la ruta al REQUEST_FILENAME 
#no hace referencia a un archivo que existe en el servidor

RewriteCond %(REQUEST_FILENAME) !-f

# La parte ^(.*)$ le dice al modulo de escritura que queremos la ruta 
# completa solicitada como un parametro. La parte QSA le dice al modulo 
# que anexe cualquier cadena de consulta a la solicitud.

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]